<h3 class="text-center">{{title}}</h3>
<div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let volunteer of volunteers" class="card me-4 mb-4 shadow" style="height: max-content; width: max-content;" >
        <div class="d-flex" style="width: min-content;">
            <div>
                <img [src]="volunteer.pictureUrl" 
                    [style]="'max-width: ' + sizes.pictureWidth + 
                            'px; max-height: ' + sizes.pictureHeight + 'px;'" 
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="card-body py-1 px-2 d-flex flex-column justify-content-between" style="min-width: 115px;">
                <b class="text-wrap"
                    [style]="'max-width: ' + sizes.pictureWidth + 
                            'px; font-size: ' + sizes.fontSize + 
                            'px; line-height: ' + sizes.lineHeight + 
                            'px; display: block; width: min-content;'">{{volunteer.name}}</b>
                <span class="card-title text-muted mb-0" 
                        [innerHTML]="volunteer.qualification"
                        [style]="'font-size: ' + sizes.fontSize + 
                                'px; line-height: ' + sizes.lineHeight + 
                                'px; display: block;'"></span>
            </div>
        </div>
    </div>
</div>