<div style="background-image: url(assets/images/hintergrund-grundsatze.jpg); 
            background-size: contain;
            background-color: rgba(255,255,255,0.3);
            background-blend-mode: lighten;">
    <div class="keen-slider first" #sliderRef>
        <div class="keen-slider__slide slide-height">
            <app-employee-hierarchy 
                [slideNumber]="0" 
                [currentSlideNumber]="currentSlideNumber"
            ></app-employee-hierarchy>
        </div>
        <div class="keen-slider__slide slide-height">
            <app-current-zd-fsj></app-current-zd-fsj> 
        </div>
    
        <div *ngFor="let pwp of pdfPages; let idx = index" class="keen-slider__slide slide-height">
            <app-pdf-page 
                [pdfPage]="pwp"
                [slideNumber]="2 + idx"
                [currentSlideNumber]="currentSlideNumber"
            ></app-pdf-page>
        </div>
    
    </div>
    
    <app-timed-progress-bar (timerExpired)="moveToNextSlide()"></app-timed-progress-bar>
    
    <div class="dots">
      <button
        *ngFor="let slideIdx of dotSlideIdxArray"
        (click)="slider.moveToIdx(slideIdx)"
        [class]="'dot ' + (slideIdx === currentSlideNumber ? 'active' : '')"
      ></button>
    </div>
</div>


