<div class="position-relative">
    <div *ngIf="showNavbar" class="position-absolute top-0 start-0 h-100" style="z-index: 1;">
        <div class="d-flex flex-column p-3 bg-light h-100">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <img class="me-3" width="80" height="80" src="assets/images/OERK_Sonderlogo_cmyk.svg"/>
              <span class="fs-2 fw-bold">RK Melk</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li *ngFor="let detail of slideDetails; index as i" class="nav-item">
                <a href="#" [class]="'fs-4 nav-link ' + (currentSlideNumber === i ? 'active' : 'link-dark')">
                    {{detail.title}}
                </a>
              </li>
            </ul>
          </div>
    </div>

    <div *ngIf="showPauseSymbol" class="position-absolute top-0 end-0">
      <i class="bi bi-pause-fill blink m-5" style="font-size: 4rem; color: red;"></i>
    </div>

    <div class="keen-slider first" #sliderRef>
        <div class="keen-slider__slide slide-height">
            <app-employee-hierarchy 
                [slideNumber]="0" 
                [currentSlideNumber]="currentSlideNumber"
            ></app-employee-hierarchy>
        </div>

        <div class="keen-slider__slide slide-height">
          <app-current-zd-fsj></app-current-zd-fsj> 
        </div>

        <div class="keen-slider__slide slide-height">
          <app-volunteers></app-volunteers>
        </div>

        <!-- style="clip-path: xywh(269px 102px 447px 442px)" -->
        <div class="keen-slider__slide slide-height p-3 d-flex flex-column">
          <h1 class="text-center">PV Anlage</h1>

          <div class="d-flex justify-content-center align-items-center w-100 flex-grow-1">
            <div class="aspect-ratio">

              <iframe scrolling="no"
                width="550" height="275" frameborder="0"
                src="https://www.solarweb.com/PublicDisplay?token=f77f5237-30a8-47a5-9a02-8742db6e179e">
              </iframe>
            </div>
          </div>
        </div>
    
        <div *ngFor="let pwp of pdfPages; let idx = index" class="keen-slider__slide slide-height">
            <app-pdf-page 
                [pdfPage]="pwp"
                [slideNumber]="FIXED_SLIDES_COUNT + idx"
                [currentSlideNumber]="currentSlideNumber"
            ></app-pdf-page>
        </div>
    </div>

    <app-timed-progress-bar (timerExpired)="moveToNextSlide()"></app-timed-progress-bar>
    <div class="dots">
      <button
        *ngFor="let slideIdx of dotSlideIdxArray"
        (click)="slider.moveToIdx(slideIdx)"
        [class]="'dot ' + (slideIdx === currentSlideNumber ? 'active' : '')"
      ></button>
    </div>
</div>


