<!-- <div class="card" (click)="roleClicked(node)" [style]="node?.isSelected ? 'background-color: rgba(217, 87, 89, 0.153);' : ''">
    <div class="g-0 card-body">
        <div class="d-flex flex-wrap">
            <div *ngIf="showPicture && node?.employee?.pictureUrl" style="max-height: 80px;" class="d-flex align-items-center mb-2 me-2">
                <img [src]="node?.employee?.pictureUrl" style="max-height: 80px;" class="img-fluid rounded-start" alt="...">
            </div>
            <div>
                <div class="mb-1">
                    <b class="card-title" style="font-size: 14px;">{{node?.name}}</b>
                    <div *ngIf="node?.substitution" class="text text-danger" style="font-size: 14px;">Vertretung</div>
                </div>
                <div class="text" style="font-size: 14px;">{{node?.employee?.name}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="node?.children?.length != 0 && node?.hideChildren" class="d-flex justify-content-center">
        <i class="bi bi-diagram-3 text-success"></i>
    </div>
</div> -->

<div *ngIf="!node.isPictureCollectionNode" class="card" 
     (click)="roleClicked(node)" [style]="node?.isSelected ? 'background-color: rgba(217, 87, 89, 0.153);' : ''"
>
    <div class="row g-0">
        <div *ngIf="showPicture && 
                node?.employee?.pictureUrl &&
                (node.superrole == undefined ||
                node?.superrole?.children?.length && node.superrole.children.length <= 6)" class="col">
            <div style="height: 100px">
                <img [src]="node?.employee?.pictureUrl" style="height: 100px" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
        
        <div class="col d-flex flex-column justify-content-between">
            <div class="card-body p-2 pb-1">
                <b class="card-title mb-1" style="font-size: 13px; line-height: 15px; display: block;">{{node?.name}}</b>
                <div class="text" style="font-size: 12px;">{{node?.employee?.name}}</div>
            </div>
            <div *ngIf="node.selector" class="d-flex justify-content-end px-1">
                <b style="color: red; font-size: 18px">{{ node.selector?.toString()?.padStart(2, '0') }}</b>
            </div>
            <!-- <div *ngIf="node?.children?.length != 0 && node?.hideChildren" class="d-flex justify-content-center">
                <i class="bi bi-diagram-3 text-success"></i>
                
            </div> -->
        </div>
    </div>
</div>

<div *ngIf="node.isPictureCollectionNode" class="keen-slider py-1" #empSliderRef>
    <div *ngFor="let empPic of node.employeePictures" class="keen-slider__slide" style="width: 110px;">
        <div class="card" style="height: max-content; width: 110px;">
            <div class="card-body p-2">
                <div class="d-flex justify-content-center">
                    <img [src]="empPic.url" style="max-width: 90px; max-height: 90px;" class="img-fluid rounded mb-2" alt="...">
                </div>
                <div class="d-flex justify-content-center">
                    <b class="card-title text-center text-wrap" style="max-width: 90px; font-size: 13px; line-height: 15px; display: block;">{{empPic.name}}</b>
                </div>
            </div>
        </div>
    </div>
</div>