.ng13-org-chart-entity-box {
    max-width: 1000px !important;
    background: rgba(0,0,0,0) !important;
    /* background-color: white !important; */
    border: white !important;
}

.normal-node {
    background-color: none !important;
}

.color-node {
    background: rgba(220, 200, 200, 1) !important;
}

.ng13-org-chart-entity {
    margin: 0 0.5em !important;
}

h1, h2, h3, h4 {
    color: rgb(186, 0, 0);
    font-weight: bold;
}