<div class="d-flex flex-column h-100 p-3">
    <h1 class="text-center mb-3">{{pdfPage.title}}</h1>
    <div class="flex-grow-1">
        <div class="keen-slider h-100" #sliderPdfRef>

            <!-- <div *ngIf="showInitialPdf"> -->
            <div class="keen-slider__slide h-100" style="width: 33%;">
                <pdf-viewer class="h-100" [src]="pdfPage.pdfDocumentUrl" page="1" (pages-initialized)="InitialPagesInitialized($event, pdfPage)"
                [original-size]="false" [fit-to-page]="true" [zoom]="0.95" [zoom-scale]="'page-fit'"
                [show-all]="false"></pdf-viewer>
            </div>
            <!-- </div> -->
            <div *ngFor="let pageNumber of pageNumbers[pdfPage.id]" class="keen-slider__slide h-100" style="width: 33%;" >
                <pdf-viewer class="h-100" 
                        [src]="pdfPage.pdfDocumentUrl" 
                        [page]="pageNumber" 
                        (pages-initialized)="RestPagesInitialized()"
                        [original-size]="false"
                        [fit-to-page]="true" 
                        [zoom]="0.95" 
                        [zoom-scale]="'page-fit'"
                        [show-all]="false"></pdf-viewer>
            </div>
        </div>
    </div>
</div>